body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
  /* gap: 10px; */
  /* row-gap: 10px; */
  column-gap: 10px;
}

.flex-items {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-color: coral;
  /* margin: 10px; */
}